<section class="food_item_detail">
  <div class="container">
    <div class="row">
      <h3 class="text-center" style="margin-bottom: 3rem"><%= @food_item.name %></h3>
    </div>
    <div class="row" style="margin-bottom: 3rem">
      <div class="col-md-5 food_item_image">
        <%= image_tag(@food_item.image_url, alt: @food_item.name) %>
      </div>
      <div class="col-md-7 food_item_info">
        <div class="description info_item">
          <h5 class="text-bold"><i class="fa fa-check" aria-hidden="true"></i>Description </h5>
          <p>
            <%= @food_item.description %>
          </p>
        </div>
        <div class="ordered info_item">
          <h5 class="text-bold">
            <i class="fa fa-check" aria-hidden="true"></i>Orders: <span><%= @food_item.orders.count %></span>
          </h5>
        </div>

        <div class="info_item">
          <h5 class="text-bold" style="display:inline-block">
            <i class="fa fa-check" aria-hidden="true"></i>Average rating:
          </h5>
          <div class="average_rating" data-score="<%= @average_rating %>" style="display:inline-block"></div>
        </div>

         <div class="info_item" style="margin-top: 2rem">
          <%= link_to "Order Now", new_food_item_order_path(@food_item), class: "btn btn-danger" %>
        </div>
      </div>
    </div>

    <hr>
    <div class="row comments">
      <h5 class="text-center">There are <strong class="comments_number"><%= @food_item.comments.count %></strong> comments</h5>
      <div class="display_comments">
        <% if @food_item.comments.count > 0 %>
          <% @food_item.comments.each do |comment| %>
            <%= render 'comment', comment: comment %>
          <% end %>
        <% end %>
      </div>
      <br><hr>
      <div class="new_comment">
        <%= render "comment_form" %>
      </div>
    </div>
  </div>
</section>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets/'

  });
</script>
<script>
    $('.average_rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function(){
      return $(this).attr('data-score');
    }

  });
</script>
