<!DOCTYPE html>
<html>
  <head>
    <title>Trung Manucian - Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'partials/header' %>
    <%= yield %>
    <%= render 'partials/contact_us' %>
    <%= render 'partials/footer' %>
  </body>
</html>
